vendor/bundler-gems
log/
.DS_Store
.bundle
Gemfile.lock
db/*.db
db/schema.rb
db/*.sqlite3
config/development.*
config/database.yml
coverage
db/sphinx
db/sphinx/*
db/sphinx/development/*
projects/*/config/database.yml
public/stylesheets/cache/*
public/javascripts/cache/*
tmp
*.class
*.swp
*.swo
scratch
work
bin/*
vendor/bundled_gems/*
test
*.swn
