body {
  font-family:Lucida Grande,Arial,Helvetica,sans-serif;
  font-size: 10px;
}

/***************************
 * MAIN LAYOUT 
 * ***************************/
#user_options {
  width: 50%;
  height: 22px;
  text-align: right;
  float: left;
}
#navigation {
  width: 50%;
  height: 22px;
  text-align: left;
  float: left;
}
/***************************
 *  END MAIN LAYOUT
 * ***************************/

/****************************
CARD
*****************************/
.card_link {
  text-decoration: underline;
  font-style: italic;
  color: black;
  font-weight: normal;
  line-height: 16px;
}
.card_container {
	border: 5px solid gray;
	position: relative;
	height: 300px;
	width: 200px;
	float: left;
	margin: 5px;
}
.card_action_container {
  border: 5px solid gray;
  background-color: white;
  color: black;
  padding: 10px;
  position: relative;
  min-height: 50px;
  width: 200px;
  float: left;
  margin: 5px;
}

.card {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.card div {
	padding: 2px;
}
.card .field {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #444;
}
.field a, .field a:visited, .field a:active, .field a:hover {
	color: black;
}
.title {
	height: 10px;
	position: absolute;
	top: 5px;
	left: 8px;
	right: 8px;
	font-size: 9px;
}
.name {
  position: absolute;
	top: 0px;
  left: 3px;
  width: 140px;
	height: 10px;
  overflow: hidden;
}
.cost {
  position: absolute;
  top: -1px;
  right: 0px;
  overflow: hidden;
}
.colorless_mana {
  background:url(/images/cards/casting_cost_colorless.png) no-repeat center !important;
}
.tap_symbol {
  background:url(/images/cards/casting_cost_colorless.png) no-repeat center !important;
  font-style: italic;
}
.circle {
  font-size: 8px;
  line-height:12px;
  vertical-align: top;
  padding: 2px;
}
.colorless_mana, .tap_symbol {
  vertical-align: top;
  line-height: 12px;
}
.casting_cost_image, .colorless_mana, .tap_symbol {
  height: 12px;
  width: 12px;
  margin: 0px 1px;
}
.image {
	position: absolute;
	top: 28px;
	right: 8px;
	left: 8px;
	height: 124px;
	background:url(/images/cards/magic-cube.gif) repeat !important;
	border: 1px solid #444;
}
.type {
  position: absolute;
  top: 157px;
  left: 8px;
  right: 8px;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 177px;
  left: 8px;
  right: 8px;
	bottom: 22px;
  overflow: auto;
  padding: 3px;
  background-color: AntiqueWhite;
	font-size: 9px;
}
.flavor {
  margin-top: 15px;
  font-style: italic;
}
.stats {
  position: absolute;
  bottom: 6px;
  right: 8px;
  overflow: hidden;
}
.card .actions {
  position: absolute;
  bottom: 5px;
  left: 8px;
  overflow: hidden;
}
/****************************
END OF CARD
*****************************/


/****************************
CARD COLORS
*****************************/
.green {
	background:url(/images/cards/green_leather.jpg) repeat !important;
}
.green .field {
	background-color: #D2E2D6;
}
.blue {
	background:url(/images/cards/blue_background.jpg) repeat !important;
}
.blue .field {
	background-color: #BCDBEF;
}
.white {
	background:url(/images/cards/white_background.jpg) repeat !important;
}
.white .field {
	background-color: #F4F2E0;
}
.black {
	background:url(/images/cards/black_background.jpg) repeat !important;
}
.black .field {
	background-color: #D3CAC6;
}
.red {
	background:url(/images/cards/red_background.jpg) repeat !important;
}
.red .field {
	background-color: #DEBDAC;
}
.colorless {
	background:url(/images/cards/artifact_background.jpg) repeat !important;
}
.colorless .field {
	background-color: #D2D6DB;
}
.gold {
	background:url(/images/cards/gold_background.jpg) repeat !important;
}
.gold .field {
	background-color: #E5D5A0;
}
.colorless {
}
/****************************
END CARD COLORS
*****************************/

form label {
  display: block;
}
form input {
  margin-bottom: 10px;
}

.error {
  border: 3px solid red;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

/***************************
 DECK BUILDER
***************************/
#card_filter label {
  display: inline;
}
.card_table {
  border: 1px inset black;
  padding; 3px;
  font-size: 10px;
  width: 100%;
  vertical-align: top;
}
.card_table tr.even {
  background-color: lightgray;
}
#in_use {
	width: 40%;
	float: left;
}
#available {
	width: 40%;
	float: left;
}
#preview {
	float: right;
}
/***************************
 END DECK BUILDER
***************************/
/***************************
 *  GAME LAYOUT
 * ***************************/
#game {
  position: absolute;
  top: 30px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 1px solid black;
  background:url(/images/games/game_background.jpg) repeat;
  background-size: 100%;
}
#game .user {
  padding: 5px;
}
#game #user_0 {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 50%;
  border-bottom: 1px dashed black;
}
#game #user_1 {
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-bottom: 1px dashed black;
}
#graveyard {
  position: absolute;
  top: 30px;
  left: 10px;
  height: 83px;
  width: 60px;
  border: 1px solid black;
  background:url(/images/cards/card_back.jpg) no-repeat;
  background-size: 100%;
  color: white;
}
#deck {
  position: absolute;
  top: 30px;
  left: 75px;
  height: 83px;
  width: 60px;
  border: 1px solid black;
  background:url(/images/cards/card_back.jpg) no-repeat;
  background-size: 100%;
  color: white;
}
#hand {
  position: absolute;
  top: 120px;
  left: 10px;
  bottom: 10px;
  width: 150px;
  border: 1px solid black;
  background-size: 100%;
  overflow: auto;
  padding: 3px;
}
#in_play {
  position: absolute;
  top: 30px;
  left: 175px;
  bottom: 10px;
  right: 220px;
  border: 1px solid black;
  background-size: 100%;
  color: white;
}
#selected_card {
  position: absolute;
  top: 30px;
  height: 300px;
  right: 10px;
  width: 200px;
  border: 1px solid black;
  background-size: 100%;
  color: black;
}
#stack {
  position: absolute;
  top: 340px;
  bottom: 10px;
  right: 10px;
  width: 200px;
  border: 1px solid black;
  background-size: 100%;
  color: white;
}
 /***************************
  *  END GAME LAYOUT
  * ***************************/
