body {
  font-family:Lucida Grande,Arial,Helvetica,sans-serif;
  font-size: 10px;
}

/****************************
CARD
*****************************/
.card_container {
	border: 5px solid gray;
	position: relative;
	height: 300px;
	width: 200px;
	float: left;
	margin: 5px;
}

.card {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.name {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 140px;
  overflow: hidden;
}
.cost {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
}
.type{
  position: absolute;
  top: 140px;
  left: 5px;
  right: 5px;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 160px;
  height: 110px;
  left: 5px;
  right: 5px;
  overflow: hidden;
  padding: 3px;
  background-color: AntiqueWhite;
  border: 1px inset gray;
}
.flavor {
  margin-top: 15px;
  font-style: italic;
}
.stats {
  position: absolute;
  bottom: 5px;
  right: 5px;
  overflow: hidden;
}
.card .actions {
  position: absolute;
  bottom: 5px;
  left: 5px;
  overflow: hidden;
}
/****************************
END OF CARD
*****************************/


/****************************
CARD COLORS
*****************************/
.blue {
  border: 8px solid blue; 
}
.red {
  border: 8px solid red; 
}
.black {
  border: 8px solid black; 
}
.white {
  background-color: #ffffcc; 
}
.green {
  border: 8px solid green; 
}
.gold {
  border: 8px solid gold; 
}
.artifact {
  border: 8px solid gray; 
}
.colorless {
}
/****************************
END CARD COLORS
*****************************/

form label {
  display: block;
}
form input {
  margin-bottom: 10px;
}

.error {
  border: 3px solid red;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

/***************************
 DECK BUILDER
***************************/
.card_table {
  border: 1px inset black;
  padding; 3px;
  font-size: 10px;
  width: 100%;
  vertical-align: top;
}
.card_table tr.even {
  background-color: lightgray;
}
tr:hover {
  background-color: black !important;
  color: white !important;
}
#in_use {
	width: 40%;
	float: left;
}
#available {
	width: 40%;
	float: left;
}
#preview {
	float: right;
}
/***************************
 END DECK BUILDER
***************************/