<div id="deck">deck</div>
<div id="graveyard">graveyard</div>
<div id="in_play">in_play</div>
<div id="hand">
  <% game_user.game_deck.hand.cards.each do |card| %>
    <%= render :partial => 'cards/card', :locals => {:card => card} %><br/>
  <% end %>
</div>
